---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Concepto from "../components/Concepto.astro";
import Chef from "../components/Chef.astro";
import Experience from "../components/Experience.astro";
import Reserva from "../components/Reserva.astro";
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Comuna 9: Cocina de Estación en Mataderos - Comida Noble">
	<Header />
	<main>
		<Hero />
		<Concepto />
		<Chef />
		<Experience />
		<Reserva />
		<Contacto />
	</main>
	<Footer />
</Layout>
